SELECT * FROM [PHI].[cdc].[captured_columns];
SELECT * FROM [PHI].[cdc].[change_tables];
SELECT * FROM [PHI].[cdc].[ddl_history];
SELECT * FROM [PHI].[cdc].[index_columns];
SELECT * FROM [PHI].[cdc].[lsn_time_mapping];
SELECT * FROM [PHI].[dbo].[systranschemas];